
.container{
    margin-bottom: 100px;
}
.orang-bg{
    border-radius: 5px;
    background-color: #FEEAE9;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF589B;
}
.button{
    background-color: #FF589B;
    border: none;
    padding:  10px 20px;
    color: #FEEAE9;
    border-radius: 5px;
}
/* section carousel done */


.cat1, .cat2, .cat3 {
    padding: 10px 30px;
    border-radius: 5px;
}


.cat1{
    background-color: #FF9C35;

}
.cat2{
    background-color: #FF589B;
}
.cat3{
    background-color: #4289FF;
}
.categories h1{
    color: white;
}
.card{
    border: none;
    box-shadow: 1px 1px 10px gray;
}
