
.container{
    margin-bottom: 100px;
}
.orang-bg{
    border-radius: 5px;
    background-color: #FEEAE9;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF589B;
}
.button{
    background-color: #FF589B;
    border: none;
    padding:  10px 20px;
    color: #FEEAE9;
    border-radius: 5px;
}
/* section carousel done */